<%- include('partials/header') %>
<!-- 
Heading -->
<div class="container-fluid dash-head">
  <nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background-color: #fecea8;">
    <a class="navbar-brand logo" href="/dashboard">NoStoryGram</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
       
        <a class="nav-item nav-link active" href="#">Home<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/profile">Profile</a>
        <a class="nav-item nav-link" href="/upload">Upload</a>
        <a class="nav-item nav-link" href="/logout" role="button">Logout</a>
          
      
        
       
      </div>
    </div>
  </nav>
</div>
<hr>
<% posts.slice().reverse().forEach(function(post) { %>
<div class="feed">
  
    <div class="feed-name"><img src="./uploads/<%=post.dashDP %>" class="feed-dp" alt=""> <%= post.dashName %></div>
    <hr>
    <div class="feed-photo ">
      <img src="./uploads/<%= post.img %>" class="feed-photo-img" alt="">
    </div>
    <div class="container caption-container">
      <i class="far fa-envelope-open"></i> <em class="caption-text">    <%= post.caption %></em> 
    </div> 
    
 
  




</div>
<br><br>
<% })  %>


<script>
  function myFunction() {
    document.getElementById("like").style.backgroundColor = "red";
  }
</script>











     


<%-include('partials/footer') %>
