<%- include('partials/header') %>

<div class="container-fluid dash-head">
    <nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background-color: #fecea8;">
        <a class="navbar-brand logo" href="/dashboard">NoStoryGram</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">

                <a class="nav-item nav-link " href="/dashboard">Home<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/profile">Profile</a>
                <a class="nav-item nav-link" href="/upload">Upload</a>
                <a class="nav-item nav-link" href="/logout" role="button">Logout</a>




            </div>
        </div>
    </nav>
</div>
<hr>
<div class="container-fluid individual-post">
    <div class="row">
        <div class="col-7  individual-post-photo-container container">
            <img src="../uploads/<%=photo%>" class="individual-post-photo" alt="">
        </div>
        <div class="col-5 individual-post-interaction">
            <div class="individual-post-userinfo">
            <a href="/user/<%= proId %>" class="dash-feed-name"><img src="../uploads/<%=dp%>" class="feed-dp" alt=""><strong> <%=name %></strong></a>    
            <div class="dropdown">
                <button class="btn three-dot-button"><i class="fas delete-option fa-ellipsis-v"></i></button>
                <div class="dropdown-content">
                    <a href="/posts/<%=postId%>/editpost">Edit Caption</a>
                    <a href="/posts/<%=postId%>/deletepost">Delete</a>
                   
                </div>
            </div>
            </div>
            
            <hr>
            <div class="individual-post-caption">
                <i class="far fa-envelope-open"></i> <em class="caption-text"> <%=caption %></em>

            </div><hr>
            <div class="comment-section">
                <div class="container">
                    <div class="row">
            <% comments.slice().reverse().forEach(function(comment){ %>
                
                    
                        <div class="col-1">
                    
                            <a href="/user/<%= comment.commentUserId %>" class="dash-feed-name"><img src="../uploads/<%=comment.commentDP%>" class="commentDP" alt=""></a>
                        </div>
                        <div class="col-10">
                            <a href="/user/<%= comment.commentUserId %>" class="dash-feed-name"><strong><%=comment.userComment%></strong></a>
                            <p><%=comment.content%></p>
                    
                        </div>
                    
                
               
          <%  }) %>
        </div>

            </div>
                </div> 
            <div class="like-comment">
                <div class="icon-divide">
                    <div class="row">
                        <div class="col-2">
                           <a href="/posts/<%=postId%>/<%=link%>"><i class="far like-button fa-heart fa-2x" style="color: <%=color%>;"></i></a> 
                        </div>
                          <div class="col-2">
                        <a href="#comment-box-area"><i class="far fa-comment fa-2x"></i></a>
                        </div>
                       
                    
                        
                    </div>
                   

                    

                </div>
                <button type="button" class="btn btn-sm follower-button" data-toggle="modal" data-target=".bd-example-modal-sm">
                    <strong style="font-size: small;"><%=likesList.length%> Likes</strong>
                </button>
                
                <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content" style="background-color: #fecea8;">
                        <% likesList.slice().reverse().forEach(function(like){ %>
                       
                            <a href="/user/<%= like.likeUserId %>" class="dash-feed-name">
                                <div class="feed-name" style="padding: 0.3rem;"><img src="../uploads/<%=like.likeDP%>"
                                        class="feed-dp-modal" alt=""> <%=like.likeUserName%></div>
                            </a>
                
                               
                        
                        <%  })  %>
                    </div>
                
                    </div>
                </div>
                &nbsp; <strong style="font-size: small;"><%=comments.length%> Comments</strong>
               
                <div class="comment-input">
                    <form action="/posts/<%=Id%>/comment" method="POST">
                        <div class="form-group form-check-inline">
                            <div style="margin-right: 0.5rem;">
                                <input type="text" class="form-control comment-box" name="commentBoxArea" id="comment-box-area" placeholder="Comment">
                            </div>
                            
                            <button type="submit" class="btn btn-outline-dark btn-sm">Comment!</button>
                        </div>
                    </form>
                </div>

            </div>
        
        </div>
    </div>
   
</div>









<script>
    function myFunction() {
        var x = document.getElementById("Demo");
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }
</script>
















<%-include('partials/footer') %>